
  
  .menu {
    margin-bottom: 10px;
  }
  
  .menu-header {
    padding: 10px;
    cursor: pointer;
  }
  
  .menu-header .arrow {
    transition: transform 0.3s;
    float: right;
  }
  

  .menu-header .arrow.open {
    transform: rotate(180deg);
  }

  
  .menu-header:hover {
    background-color: #1769ff;
    color: #fff;
    transition: 0.3s;
  }
  
  .dropdown-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-left: 10px;
  }
  
  .dropdown-content.open {
    max-height: 150px; /* Adjust based on the number of items */
    transition: max-height 0.3s ease-in;
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #eee;
  }
  
 
  