# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Fichiers sensibles
.env
.env.*
!.env.example
access
access.*
access_*
access-token*
access_token*
*access_token*
acces
acces.*
acces_*
token*
*token*
secret*
*secret*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*
!documentation/
!documentation/branch-gabriel/
!documentation/branch-gabriel/champs-inscription-facultatifs.md
!documentation/branch-gabriel/option-recu-paiement.md
!documentation/branch-gabriel/correction-modification-eleve.md
!documentation/branch-gabriel/id-paiement-recu.md
!src/
!src/composants/
!src/composants/Ecoles/
!src/composants/Ecoles/common/
!src/composants/Ecoles/common/Paiements/
!src/composants/Ecoles/common/Paiements/paiementCree.js
!src/composants/Ecoles/common/Paiements/numeroRecuPaiement.js
