.user_activity .form-control {
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }

  .user_activity button[type="password"]{
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .user_activity .form-control:focus {
    border-color: #1769ff;
    box-shadow: 0px 0px 8px rgba(23, 105, 255, 0.3);
  }
  form .form-control:focus {
    border-color: #1769ff;
    box-shadow: 0px 0px 8px rgba(23, 105, 255, 0.3);
  }
  
  .user_activity label {
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
  }
  
  .user_activity button[type="submit"], .user_activity input[type="submit"] {
    padding: 13px;
    border-radius: 30px;
    background: #1769ff;
    color: #fff;
    font-weight: bold;
    transition: background 0.3s ease;
  }

  
.loading {
  position: relative;
  pointer-events: none;
  cursor: not-allowed;
}

.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}
