
  .details-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-box {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-box h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
  }
  
  .other-communique {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .other-communique img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .other-communique h5 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .other-communique p {
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .other-communique a {
    text-decoration: none;
    color: #007bff;
  }
  
  .other-communique a:hover {
    text-decoration: underline;
  }
  
  
.loading {
  position: relative;
  pointer-events: none;
  cursor: not-allowed;
}

.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}
