a{
  text-decoration:none;
}
/* message sender */

.messageSender {
display: flex;
margin-top: 30px;
flex-direction: column;
background-color: white;
border-radius: 15px;
box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
width: 100%;
}

.messageSender__top {
display: flex;
align-items: center;
border-bottom: 1px solid #eff2f5;
padding: 15px;
}

.messageSender__top form {
flex: 1;
display: flex;
}

.messageSender__top form input {
flex: 1;
outline-width: 0;
border: none;
padding: 15px 20px;
margin: 0 10px;
border-radius: 999px;
background-color: #eff2f5;
}

.messageSender__bottom {
display: flex;
justify-content: space-evenly;
}

.messageSender__option {
padding: 8px;
display: flex;
align-items: center;
color: gray;
margin: 5px;
}

.messageSender__option h3 {
font-size: medium;
margin-left: 10px;
}

.messageSender__option:hover {
cursor: pointer;
background-color: #eff2f5;
border-radius: 20px;
}

.aff {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.amis {
  display: flex;
  align-items: center;
  height: 90px;
}
.amis img {
  height: 60;
  width: 70px;
  border-radius: 50%;
  margin-right: 10px;
}
 .aff_ami {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  margin: 3px 3px;
}
.amis span {
  font-size: 12px;
  margin-top: 61px;
  color: royalblue;
}

img {
max-width: 100%;
width :85px;
height: 85px;
vertical-align: top;
}
.mb-1 {
margin-bottom: 0.25rem!important;
} 

a {
text-decoration:none;    
}
.team-style07 {
background: #fff;
text-align: center;
padding: 30px;
box-shadow: 0px 10px 30px 0px rgb(26 29 72 / 7%);
border-radius: 15px;
transition: all .3s ease-in-out;
}
.team-style07 {
background: #fff;
text-align: center;
padding: 5px;
margin-bottom: 10px;
box-shadow: 0px 10px 30px 0px rgba(26, 29, 72, 0.07);
border-radius: 15px;
transition: all .3s ease-in-out
}

.team-style07:hover {
background: #292dc2;
}

.team-style07:hover h3 a,
.team-style07:hover p {
color: #fff;
}

.team-style07 .team-thumb {
position: relative;
}

.badge-number {
position: absolute;
inset: 5px 3px auto auto;
font-weight: normal;
font-size: 15px;
padding: -1px 1px;
border-radius:40px;
}
.container {
padding: 20px;
}

.padding {
padding: 1rem !important;
margin-left: 5px
}

.card-img-top{
height:300px;
}

.card-no-border .card {
border-color: #d7dfe3;
border-radius: 4px;
margin-bottom: 30px;
-webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
-ms-flex: 1 1 auto;
flex: 1 1 auto;
padding: 1.25rem
}

.pro-img {
margin-top: -80px;
margin-bottom: 20px
}

.little-profile .pro-img img {
width: 128px;
height: 128px;
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
border-radius: 100%
}


h3 {
line-height: 30px;
font-size: 21px
}

.btn-rounded.btn-md {
padding: 12px 35px;
font-size: 16px
}



.btn-primary,
.btn-primary.disabled {
background: #7460ee;
border: 1px solid #7460ee;
-webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14), 0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
-webkit-transition: 0.2s ease-in;
-o-transition: 0.2s ease-in;
transition: 0.2s ease-in
}

.btn-rounded {
border-radius: 60px;
padding: 7px 18px
}

.m-t-20 {
margin-top: 20px
}

.text-center {
text-align: center !important
}



p {
margin-top: 0;
margin-bottom: 1rem;
font-weight: bolder;
}

.btn-file {
position: relative;
overflow: hidden;
}
.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
font-size: 100px;
text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body{background-color: #eee;font-family: "Poppins", sans-serif;font-weight: 300}
.card{border:none}
.ellipsis{color: #a09c9c}
hr{color: #a09c9c;margin-top: 4px;margin-bottom: 8px}
.muted-color{color: #a09c9c;font-size: 13px}
.ellipsis i{margin-top: 3px;cursor: pointer}
.icons i{font-size: 25px}
.icons .fa-heart{color: red}
.icons .bi-smile-o{color: yellow;font-size: 29px}
.rounded-image{border-radius: 50%!important;display: flex;justify-content: center;align-items: center;height: 50px;width: 50px}
.name{font-weight: 600}
.comment-text{font-size: 12px}
.status small{margin-right: 10px;color: blue}
.form-control{border-radius: 26px}
.comment-input{position: relative}
.fonts{position: absolute;right: 13px;top:8px;color: #a09c9c}
.form-control:focus{color: #495057;background-color: #fff;border-color: #8bbafe;outline: 0;box-shadow: none}

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
  }

 
  .popup{
      width: 400px;
      background: #fff;
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.1);
      text-align: center;
      padding: 0 30px 30px;
      color: #333;
      visibility: hidden;
      transition: transform 0.4s, top 0.4s;
  }
  .open-popup{
      visibility: visible;
      top: 50%;
      transform: translate(-50%, -50%) scale(1);
  }
  .popup img{
      width: 100px;
      margin-top: -50px;
      border-radius: 50%;
      box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  }
  .popup h2{
      font-size: 38px;
      font-weight: 500;
      margin: 30px 0 10px;
  }

ul li a{
font-weight: 900;
}
ul li a:hover::after{
transform: rotate(150deg);
}
ul li a:hover {
transform:  translate(0, -6px);

}

:root {
  --link-size: 50px; 
  --trans-property: all 0.3s ease;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icon {
  display: flex;
  position: relative;
  overflow: hidden; 
  width: var(--link-size);
  height: var(--link-size);
  margin: 8px;
  
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.12);
  text-decoration: none;
  transition: var(--trans-property);
}
.social-icon i {
  margin: auto;
  font-size: 20px;
  color: #67798e;
  z-index: 1; 
  transition: var(--trans-property);
}
.social-icon:after {
  content: "";
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  transform: translate(0, var(--link-size));
  border-radius: 50%;
  transition: var(--trans-property);
}
.social-icon.twitter {
  background-color: #1da1f2;

}
.social-icon.whatsapp {
  background-color: #25d366;
}
.social-icon.pinterest {
  background-color: #bd081c;
}
.social-icon.linkedin {
  background-color: #5851db;
}
.social-icon.facebook {
  background-color: #1769ff;
}
/*** Animations ***/
.social-icon:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.16);
}
.social-icon i {
  color: #fff;
}
.social-icon:hover:after {
  transform: translate(0) scale(1.2);
}

.groupe{
display: flex;
}
.groupe .membre{
height: 30px;
height: 30px;
border-radius: 50%;
margin-right: -4px;
border: 1px solid royalblue;
}

.stories-container {
display: flex;
overflow-y: scroll;
max-width: 50vw;
}

.stor {
width: 70px;
height: 70px;
border-radius: 50%;
margin-right: 2px;
background-size: cover;
flex-shrink: 0;
background-color: #e6e6e6;
}

.stor:last-child {
margin-right: 0;
}

@media (max-width: 768px) {
.stories-container {
  max-width: 100%;
}
}

  .sidebar::-webkit-scrollbar{
          display: none;
      }
      .sidebar-right::-webkit-scrollbar{
        display: none;
    }
    